@use "../../styles.scss";

.red {
    color: styles.$secondary-color !important;
}

.container_biography .title_biography {
    width: 100%;
    margin: 2rem 0 0;
    text-align: center;
    & h1,
    h2,
    h3 {
        color: styles.$text-wh;
        margin: 0.5rem 0;
    }
    & h1 {
        font-size: 40px;
        margin: 3rem 0;
    }
}
.sub_title {
    width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.description {
    width: 850px;
    margin: 2.5rem auto;
    background: styles.$bg-wh-op;
    padding: 1rem;
    border: 1px solid styles.$bg-wh-op;

    border-radius: 15px;
    box-shadow: 0 0 5px 5px styles.$bg-wh-op;
    position: relative;
    & p {
        color: styles.$text-wh;
    }
    & span {
        color: styles.$secondary-color;
        text-decoration: underline;
        font-weight: 900;
    }
}
.skill_list {
    width: 300px;
    & .title_list {
        font-size: 25px;
        border: 1px solid styles.$bg-wh-op;
        box-shadow: 0 -5px 5px 5px styles.$bg-wh-op;
        background: styles.$bg-wh-op;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 0 0.5rem 0.5rem;
        & span {
            color: styles.$secondary-color;
            text-decoration: underline;
            font-weight: 900;
        }
    }
    & .list_skills {
        height: 155px;
        font-size: 20px;
        overflow-y: scroll;
        border: 1px solid styles.$bg-wh-op;

        box-shadow: 0 0 5px 5px styles.$bg-wh-op;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        & ul {
            margin: 0 0 0 2rem;
            padding: 0.5rem;
            & li {
                color: styles.$text-wh;
            }
        }
    }
    & .list_skills::-webkit-scrollbar {
        width: 50px;
    }
    & .list_skills::-webkit-scrollbar-thumb {
        background: url("../../assets/img/razzo-scroll.png");
        background-size: 28px;
        background-repeat: no-repeat;
    }
    & .list_skills::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
.under_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    margin: 0 auto;
}

/* #region imgs page */

.astro_desk img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -135px;
    right: 120px;
}
.astro_b_g {
    position: relative;
    & img {
        width: 250px;
        height: 250px;
    }
    & h3 {
        color: styles.$secondary-color;
        text-align: center;
        position: absolute;
        top: 160px;
        right: 87.5px;
    }
    & a {
        color: styles.$secondary-color;
        text-decoration: none;
        text-align: center;
        animation: pulse 4s infinite;
    }
    @keyframes pulse {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

/* #endregion imgs page */

/* #region media screen */

@media screen and (max-width: 426px) {
    .container_biography .title_biography {
        width: 100%;
        margin: 0.5rem 0 0;
        & h1,
        h2,
        h3 {
            color: styles.$text-wh;
            margin: 0.5rem 0;
        }
        & h1 {
            font-size: 38px;
            margin: 1rem 0;
        }
        & h2 {
            font-size: 20px;
        }
    }

    .sub_title {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    .description {
        width: 90%;
        height: 250px;
        margin: 1.5rem auto;
        padding: 0.5rem;
        overflow-y: scroll;
    }
    .under_description {
        width: 90%;
        padding: 1rem 0 2rem;
        & .skill_list{
            padding: 0 1.5rem 0 0;
        & .list_skills{
            height: 120px;
        }
        }
    }

    /* #region imgs page */

    .astro_desk img {
        width: 130px;
        height: 130px;
        top: -35px;
        right: 50px;
    }
    .astro_b_g {
        & img {
            width: 150px;
            height: 160px;
        }
        & h3 {
            font-size: 12px;
            top: 100px;
            right: 51px;
        }
    }
    /* #endregion imgs page */
}

/* #endregion media screen */
