$border1: 1px solid red;
$border2: 1px solid purple;



app-header{
    display: block;
    height: 100px;
    border: $border1;
}
app-main {
    display: block;
    height: calc(100vh - 100px);
    border: $border2;

}