.container_cards{
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}
.row{
    width: 100%;
    height: 100%;
}
.d_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    width: 500px;
    height: 300px;
    margin: 0 1rem 13rem;
}