@import "../../styles.scss";

.pages {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        padding: 1.5rem 0.5rem 0.5rem;
        color: $text-wh;
        text-decoration: none;
        font-size: 20px;
    }
}
.container_projects {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    
    & .img_bg{
        position: absolute;
        width: 200px;
        height: 150px;
        bottom: 0px;
        right: 0px;
        z-index: 0;
    }
}
.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
    padding: 1rem;
}
.row::-webkit-scrollbar{
    width: 0px;
}
.row::-webkit-scrollbar-track{
    background: $text-wh;
}
.row::-webkit-scrollbar-thumb{
    background: $secondary-color-shadow;
}
.col {
    width: 450px;
    height: 250px;
    margin: 1rem 1.5rem;
    z-index: 1;
}
a {
    text-decoration: none;
    & * {
        color: $text-wh;
    }
    & .card {
        height: 100%;
        background: $secondary-color-shadow;
        border: 2px solid $text-wh;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: -5px 6px 10px 2px $secondary-color-shadow;
        position: relative;

        &.card:hover {
            animation: scale 1s;
            background: $secondary-color;
            transform: scale(1.2);
            z-index: 1;
        }

        @keyframes scale {
            from {
                opacity: 1;
                transform: scale(1);
                background: $secondary-color-shadow;
            }
            to {
                opacity: 1;
                transform: scale(1.2);
                background: $secondary-color;
            }
        }

        & .icon_card {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        & img {
            width: 130px;
            height: 80px;
            border-radius: 15px;
        }
    }
}
.ani_visible {
    animation: visible 1s;
}
.ani_visible2 {
    animation: visible 1s;
}
.ani_visible3 {
    animation: visible 1s;
}
.ani_visible4 {
    animation: visible 1s;
}
.ani_visible5 {
    animation: visible 1s;
}
.ani_visible6 {
    animation: visible 1s;
}

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.red{color: red !important;}

