<div class="pages">
    <a routerLink="/home">Home</a>
    <a routerLink="/table-projects">Table-Projects</a>
    <a routerLink="/card-projects">Card Projects</a>
</div>

<div class="container_projects">
    <div class="row">
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible">
                    <h2 class="title_card">Gelateria</h2>
                    <img src="../../assets/img/projects/gelateria.jpg" alt="">
                    <h5>Tecnologie: <span>Angular, Typescript</span></h5>
                    <h5><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria"><img class="icon_card" src="../../assets/img/3d-fluency-github-logo.png" alt="logo github"></a></h5>
                    <p>descrizione breve</p>
                    <h6>autori: <span><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907">Pietro907</a></span></h6>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible2">
                <h2>titolo</h2>
                <img src="../../assets/gelateria.jpg" alt="">
                <h5>tecnologie</h5>
                <h5><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria"><img class="icon_card" src="../../assets/img/3d-fluency-github-logo.png" alt="logo github"></a></h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible3">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria"><img class="icon_card" src="../../assets/img/3d-fluency-github-logo.png" alt="logo github"></a></h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible4">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria"><img class="icon_card" src="../../assets/img/3d-fluency-github-logo.png" alt="logo github"></a></h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible5">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria"><img class="icon_card" src="../../assets/img/3d-fluency-github-logo.png" alt="logo github"></a></h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria"><img class="icon_card" src="../../assets/img/3d-fluency-github-logo.png" alt="logo github"></a></h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>

    </div>
    <img class="img_bg" src="../../assets/img/astronauta-contempla.png" alt="">
</div>

