<div class="pages">
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/biography']" [routerLinkActive]="['red']">Biography</a>
    <a [routerLink]="['/table-projects']" [routerLinkActive]="['red']">Table Projects</a>
    <a [routerLink]="['/card-projects']" [routerLinkActive]="['red']">Card Projects</a>
    <a [routerLink]="['/draw-code']" [routerLinkActive]="['red']">Draw Code</a>
</div>

<!-- <div class="container_projects">
    <div class="row">
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible">
                    <h2 class="title_card">Gelateria</h2>
                    <img src="../../assets/img/projects/gelateria.jpg" alt="">
                    <h5>Tecnologie: <span>Angular, Typescript</span></h5>

                    <p>descrizione breve</p>
                    <h6>autori: <span><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907">Pietro907</a></span></h6>
                </div>
            </a>
        </div>
        <div class="col" **ngFor="let repo of repoList">
            <a routerLink="show">
                <div class="card ani_visible2">
                <h2>{{repo}}</h2>
                <img src="../../assets/gelateria.jpg" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible3"> 
                <h2></h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible4">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible5">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="show">
                <div class="card ani_visible6">
                <h2>titolo</h2>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
            </a>
        </div>

    </div>
    <img class="img_bg" src="../../assets/img/astronauta/astronauta-contempla.png" alt="">
</div> -->

<div class="container_projects">
    <div class="row">
        <div class="col" *ngFor="let repo of repoList">
            <a [routerLink]="['/card-projects/show', repo.name]">
                <div class="card ani_visible">
                    <h2 class="title_card">{{ repo.name }}</h2>
                    <h6>Autore:
                        <span>
                            {{ repo.owner.login }}
                        </span>
                    </h6>
                </div>
            </a>
        </div>
    </div>
</div>
