<div class="pages">
    <a routerLink="/home">Home</a>
    <a routerLink="/table-projects">Table-Projects</a>
    <a routerLink="/card-projects">Card Projects</a>
</div>

<div class="container_projects">
    <div class="row">
        <div class="col">
            <div class="card">
                <h3>Gelateria</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>Tecnologie: <span>Angular, Typescript</span></h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>titolo</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>titolo</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>titolo</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>titolo</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>titolo</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>titolo</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>titolo</h3>
                <img src="https://picsum.photos/100/80" alt="">
                <h5>tecnologie</h5>
                <h5>link</h5>
                <p>descrizione breve</p>
                <h6>autori</h6>
            </div>
        </div>
    </div>
</div>
