<main>

    <div class="pages">
        <a [routerLink]="['/home']">Home</a>
        <a routerLink="/table-projects">Table-Projects</a>
        <a routerLink="/card-projects">Card Projects</a>
    </div>

    <div class="title_page">
        <h2>Progetti</h2>
    </div>
    <div class="table-responsive d_flex_center debug_border">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th class="debug_border" scope="col">Nome</th>
                    <th class="debug_border" scope="col">Descrizione</th>
                    <th class="debug_border" scope="col">Anteprima</th>
                    <th class="debug_border" scope="col">Autori</th>
                    <th class="debug_border" scope="col">Tecnologie</th>
                    <th class="debug_border" scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td class="debug_border" scope="row">Gelateria</td>
                    <td class="debug_border">Vetrina di una gelateria, con descrizione dell'attività, inserimento dei
                        prodotti e geolocalizzazione con Google Map</td>
                    <td class="debug_border"><img src="public/img/img-projects/gelateria.jpg" alt=""></td>
                    <td class="debug_border">Pietro Paolo Puri</td>
                    <td class="debug_border">Angular v18, Typescript</td>
                    <td class="debug_border"><a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/Pietro907/gelateria">https://github.com/Pietro907/gelateria</a>
                    </td>
                </tr>
                <tr class="">
                    <td class="debug_border" scope="row">progetto 2</td>
                    <td class="debug_border">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nam fuga
                        optio quam dolor. Culpa ad nobis harum atque doloremque?</td>
                    <td class="debug_border"><img src="https://picsum.photos/100/80" alt=""></td>
                    <td class="debug_border">Pietro Paolo Puri</td>
                    <td class="debug_border">Javascript, Python</td>
                    <td class="debug_border"><a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/Pietro907">https://github.com/Pietro907</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>