
@import '../../styles.scss';

.title_page{
    text-align: center;
    padding: 2rem 0;
    & h2 {
        color:$text-wh;
    }
}
.d_flex_center {
    display: flex;
    justify-content: center;
}
.table-responsive{
    margin: 0 3rem;
    & tr {
        background-color: white;
    }
}
.table-responsive .table {
    & thead tr th, tbody tr td{
        padding: 0.5rem 1rem;
    }
    & tr td:nth-child(1), tr td:nth-child(4), tr td:nth-child(6){
        width: 150px;
    }
    & tr td:nth-child(2){
        width: 450px;
    }
    & tr td:nth-child(5){
        width: 250px;
    }
    & tr td:nth-child(6){
        width: 350px;
    }
    td {
        height: 100px;
        text-align: center;
        & img {
            width: 100px;
            height: 100px;
        }
    }
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        padding: 1rem 0.5rem 0;
        color: $text-wh;
        text-decoration: none;
    }
}
/* #region debug */

.debug_border{
    border: 1px solid white;
}

/* #endregion debug */