
<header>

    <div id="nav_bar">

        <div class="logo">
            <a href="/"><img src="https://picsum.photos/100/80" alt=""></a>
        </div>

        <div class="container_title_page">
            <h2 class="title_page">I miei Progetti</h2>
            <h2 class="title_page2">I miei Progetti</h2>
        </div>

        <div class="logo">
            <a href="/"><img src="https://picsum.photos/100/80" alt=""></a>
        </div>

    </div>

<!--     <div class="pages">
        <a routerLink="/home">Home</a>
        <a href="">Table-Projects</a>
        <a href="">Card Projects</a>
    </div> -->

</header>
<main>

    <router-outlet></router-outlet>
</main>


