<div id="home">

    <div id="page_login_site">
        <div class="container_title_greatings">
            <h1 class="title_greatings">Benvenuto</h1>
            <h1 class="title_greatings_2">Benvenuto</h1>
        </div>
        
        <div class="img_welcome">
            <img class="image_login" src="../../assets/img/astronauta/astronauta-benvenuti.png" alt="">
            <p class="which_one">Fai una scelta</p>
        </div>
        
    </div>
    
    <div class="link_page">
        <span class="text"><a [routerLink]="['/biography']"><span class="hidden">•▸</span> Biografia</a></span>
        <span class="text"><a [routerLink]="['/table-projects']"><span class="hidden">•▸</span> Progetti v. Tabella</a></span>
        <span class="text"><a [routerLink]="['/card-projects']"><span class="hidden">•▸</span> Progetti v. Card</a></span>
        <span class="text"><a [routerLink]="['/draw-code']"><span class="hidden">•▸</span> Disegnare con il codice</a></span>
    </div>

</div>