
<div id="page_login_site">
    <div class="container_title_greatings">
        <h1 class="title_greatings">Benvenuto</h1>
        <h1 class="title_greatings_2">Benvenuto</h1>
    </div>

    <a>
        <img class="image_login" src="https://picsum.photos/800/200" alt="">
    </a>

    <div class="link_page">
        <span class="text"><a [routerLink]="['/table-projects']">Tabella progetti</a></span>
        <span class="text"><a [routerLink]="['/card-projects']">Card progetti</a></span>
    </div>
</div>