@import "../../styles.scss";

$bg-header: linear-gradient(to right, red, green);
$text-center: center;

.title_greatings,
.title_greatings_2 {
    font-size: 60px;
}

.title_greatings,
.text,
.title_greatings_2 {
    text-align: $text-center;
}
.container_title_greatings {
    position: relative;
}
.title_greatings_2 {
    color: $text-wh;
    position: absolute;
    bottom: 25%;
    left: 50.15%;
    transform: translateX(-50%);
}
#page_login_site {
    background: linear-gradient(to left, $bg-primary, $bg-secondary);
    height: 100%;
    & .title_greatings,
    .image_login {
        display: block;
        transform: translateX(-50%);
        margin: 0 0 0 50%;
    }
}

.title_greatings {
    padding: 1.5rem 0;
}
.link_page{
    margin: 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & .text:first-child{
        margin: 0 1rem 0 0;
    }
    & .text:last-child{
        margin: 0 0 0 1rem;
    }
}
.text {
    padding: 1rem 0;
    font-size: 25px;
    & a {
        text-decoration: none;
        color: white;
    }
}

.image_login {
    width: 500px;
    height: 400px;
    border-radius: 20px;
}

