<div id="home">

    <div id="page_login_site">
        <div class="container_title_greatings">
            <h1 class="title_greatings">Benvenuto</h1>
            <h1 class="title_greatings_2">Benvenuto</h1>
        </div>
        
        <div class="img_welcome">
            <img class="image_login" src="../../assets/img/astronauta-benvenuti.png" alt="">
            <p class="which_one">Fai una scelta</p>
        </div>
        
    </div>
    
    <div class="link_page">
        <span class="text"><a [routerLink]="['/table-projects']">Tabella progetti</a></span>
        <span class="text"><a [routerLink]="['/card-projects']">Card progetti</a></span>
    </div>

</div>