@use "../../styles.scss";

#home {
    display: flex;
    transform: translateX(-50%);
    margin: 0 0 0 50%;
}

.title_greatings,
.title_greatings_2 {
    font-size: 60px;
}

.title_greatings,
.text,
.title_greatings_2 {
    text-align: center;
}
.container_title_greatings {
    position: relative;
}
.title_greatings_2 {
    color: styles.$text-wh;
    position: absolute;
    bottom: 25%;
    left: 0;
    transform: translateX(-50%);
    margin: 0 50% 0 0;
}
#page_login_site {
    height: 100%;
}

.title_greatings {
    padding: 1.5rem 0;
}
.link_page {
    margin: 2rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    padding: 1rem 0;
    font-size: 25px;
    width: 350px;
    & a {
        text-decoration: none;
        color: white;
    }
    & a:hover .hidden {
        display: inline;
        color: white;
    }
}
.hidden {
    color: transparent;
}

.img_welcome {
    display: block;
    width: 500px;
    height: 426px;
    border-bottom: 10px solid styles.$text-wh;
    border-bottom-left-radius: 15px;
    border-right: 10px solid styles.$secondary-color;
    position: relative;
    & .which_one {
        color: styles.$text-wh;
        position: absolute;
        top: 61.4%;
        left: 31%;
        animation: pulse 2s infinite;
    }
    & .image_login {
        width: 500px;
        height: 426px;
        border-radius: 20px;
        object-fit: cover;
    }
}
@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 426px) {

    .title_greatings {
        padding: 4rem 0 3rem;
    }

    .title_greatings,
    .title_greatings_2 {
        font-size: 40px;
        bottom: 33%;
        transform: translateX(50%);
        text-align: center;
    }
    .link_page{
       margin: 8rem 0 0;
    }
    .text {
        font-size: 12px;
        max-width: 426px;
        width: 140px;
        padding: 4px 0;
        margin: 0 0 0 -0.5rem;

    }
    #page_login_site {
        margin: 0 0 0 -4.8rem;
    }
    .img_welcome {
        display: block;
        width: 180px;
        height: 154px;
        border-bottom: 5px solid styles.$text-wh;
        border-bottom-left-radius: 15px;
        border-right: 5px solid styles.$secondary-color;
        & .which_one {
            font-size: 5px;
            top: 64%;
            left: 32.5%;
            
        }
        & .image_login {
            width: 180px;
            height: 160px;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}
