/* You can add global styles to this file, and also import other style files */


/* #region palette */


$bg-primary: #182E58;
$bg-secondary: #07598D;
$third: #3d3e40;
$text: #261B1D;
$text-wh: #F2F3F4;


/* #endregion palette */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text;
}

