<div class="container_show_card">
    <div class="astronaut">
        <img class="img_of_img" src="../../assets/img/astronauta/astro-cartello2-black.png" alt="">
    </div>
    <img src="../../assets/img/projects/gelateria.jpg" alt="" class="img_project">
    <div class="signboard">
        <h2 class="title_project">Gelateria</h2>
        <h5>Tecnologie usate: <ul>
                <li>Angular v.18</li>
                <li>Typescript</li>
            </ul>
        </h5>
        <h5><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria"><img
                    class="icon_card" src="../../assets/img/github-cloud.png" alt="logo github"></a></h5>
        <h5 class="author">Autori: <ul>
                <li><h4>Pietro907</h4></li>
            </ul>
        </h5>
    </div>

    <p class="description_project">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora asperiores ut ipsam quo dolor unde ipsum
        beatae commodi, delectus, provident, eligendi cumque repellendus dolorem iusto neque itaque excepturi ullam
        autem est reprehenderit nemo soluta magnam saepe quos! Illum fugit aperiam quis cupiditate eius hic laudantium
        assumenda libero adipisci dolores harum numquam nemo impedit magnam praesentium quam sapiente non quas culpa
        voluptas recusandae blanditiis, commodi delectus. Aspernatur suscipit ratione ipsa dolores, explicabo eius
        facere. Sint pariatur itaque nihil eos, vel saepe, illum nulla esse magni ea accusamus! Natus perspiciatis
        suscipit magni culpa voluptatem, harum dicta cum officia accusantium debitis veritatis impedit!
    </p>
        <p class="readme">Più dettagli? allora README <br> <a target="_blank" rel="noopener noreferrer" href="https://github.com/Pietro907/gelateria/blob/main/README.md"><img class="icon_readme" src="../../assets/img/icon-redme-wh.png" alt=""></a></p>
    <a class="btn_back" routerLink="../../card-projects">Torna indietro</a>

</div>